@use '@angular/material' as mat;

$dark-primary: mat.define-palette(mat.$pink-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: mat.get-color-from-palette($dark-accent, 900);
  h1 {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
  }
  h2 {
    font-size: 24px;
    color: rgba($color: #fff, $alpha: 0.5);
    font-weight: bold;
    margin-bottom: 64px;
  }
  button {
    background-color: #1db954;
  }
}
