:root {
    --main-bg-color: #222222;
}

html, body {
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 10px;
}

#title {
    padding: 10px;
    color: white;
    font-size: 16px;
}

#search {
    align-self: stretch;
    background-color: var(--main-bg-color);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid white;
    width: 200px;
    color: white;
    font-size: 16px;
    padding: 15px;
    margin: 0 12px;
}

#search:focus {
    outline: none;
}

#search::placeholder {
    color: lightgray;
    font-size: 14px;
}

#music-list {
    background-color: var(--main-bg-color); 
    width: 60%;
    height: calc(100% - 70px - 80px);
    padding: 0;
    margin: 40px;
    overflow: auto;
    color: #dddddd;
    text-align: center;
}

#music-list::-webkit-scrollbar {
    width: 8px;
}

#music-list::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 4px;
}

#music-list::-webkit-scrollbar-track {
    background-color: #1b1b1b;
    border-radius: 4px;
}

@media screen and (max-width:800px) {
    #music-list {
        width: calc(800px * 0.6);
    }
}

music-item {
    color: blue;
    height: 100px;
}

#music-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    color: white;
    font-size: 16px;
    margin: 20px 0;
}